<a href="https://colab.research.google.com/github/Abhijit-Mandal/MachineLearning/blob/main/PandasMasterClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

It has functions for analyzing, cleaning, exploring and manipulating data.

Pandas are also able to delete rows that are not relevant, or contains wrong values.


**USE of Pandas:**

* Easily handles missing data.
* It provides an efficient way to slice the data
* It provides a flexible way to merge, concat or reshape the dta.
* It includes a powerful time series tool to work with.
* It uses Series for one-Dimensional data structure and DataFrame for the multi-dimensional data structure.

**Importing Pandas**

In [1]:
import pandas as pd

# **Advantages of Pandas**
* Fast and efficient for manipulating and analyzing data. 
* Data from different file objects can be loaded. 
* Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data 
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects 
* Data set merging and joining. 
* Flexible reshaping and pivoting of data sets 
* Provides time-series functionality. 
* Powerful group by functionality for performing split-apply-combine operations on data sets.

## **Pandas Dataframes**

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes known as rows and columns. a dataframe is a collection of series that can be used to analyse the data.  DataFrame can be created from the lists, dictionary, and from a list of dictionaries etc.

In [3]:
import numpy as np

data=np.array(['a','b','c','d'])
s=pd.Series(data)  #Pandas series
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [7]:
print(data)
print(type(data))
print(type(s))

['a' 'b' 'c' 'd']
<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [8]:
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [9]:
s=pd.Series(data,index=[100,"Abhijit",102,103])
print(s)

100        a
Abhijit    b
102        c
103        d
dtype: object

In [10]:
data = {'a':0, 'b':1, 'c':2, 'd':3}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [13]:
print(s.unique())
print(set(s))

[0 1 2 3]
{0, 1, 2, 3}

Pandas DataFrame

DataFrame from List

In [14]:
lst=['USA', 'COVID','CASES','ARE','2.5M','AND','COUNTING']
df=pd.DataFrame(lst)
df

          0
0       USA
1     COVID
2     CASES
3       ARE
4      2.5M
5       AND
6  COUNTING

DataFrame from Dictionary

In [19]:
dic={"Name":["Tom", "Nick", "Anne", "Jack"], "Age":[20,30,40,50],"Gender":["M","M","F","M"]}
df=pd.DataFrame(dic)
df

   Name  Age Gender
0   Tom   20      M
1  Nick   30      M
2  Anne   40      F
3  Jack   50      M

In [17]:
df["Name"]

0     Tom
1    Nick
2    Anne
3    Jack
Name: Name, dtype: object

In [21]:
df[df["Age"] > 20]

   Name  Age Gender
1  Nick   30      M
2  Anne   40      F
3  Jack   50      M

In [23]:
df[df["Age"]>20 & (df['Gender']=="F")]

   Name  Age Gender
0   Tom   20      M
1  Nick   30      M
2  Anne   40      F
3  Jack   50      M

## **Reading a CSV file**

In [36]:
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [46]:
df = pd.read_csv('diabetes.csv')

In [38]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [39]:
df.head(20) #DataFrame to 0-19 Index (It starts from starting to Nth index)

    Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0             6      148             72  ...                     0.627   50        1
1             1       85             66  ...                     0.351   31        0
2             8      183             64  ...                     0.672   32        1
3             1       89             66  ...                     0.167   21        0
4             0      137             40  ...                     2.288   33        1
5             5      116             74  ...                     0.201   30        0
6             3       78             50  ...                     0.248   26        1
7            10      115              0  ...                     0.134   29        0
8             2      197             70  ...                     0.158   53        1
9             8      125             96  ...                     0.232   54        1
10            4      110             92  ...                     0.191   30        0
11           10      168             74  ...                     0.537   34        1
12           10      139             80  ...                     1.441   57        0
13            1      189             60  ...                     0.398   59        1
14            5      166             72  ...                     0.587   51        1
15            7      100              0  ...                     0.484   32        1
16            0      118             84  ...                     0.551   31        1
17            7      107             74  ...                     0.254   31        1
18            1      103             30  ...                     0.183   33        0
19            1      115             70  ...                     0.529   32        1

[20 rows x 9 columns]

In [40]:
df.tail(10) #Starts from last index to last-Nth index

     Pregnancies  Glucose  ...  Age  Outcome
758            1      106  ...   26        0
759            6      190  ...   66        1
760            2       88  ...   22        0
761            9      170  ...   43        1
762            9       89  ...   33        0
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[10 rows x 9 columns]

In [42]:
df = pd.read_csv("diabetes.csv",delimiter='\t')
#TSV (table sequence value)

In [43]:
df

    Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0                        6,148,72,35,0,33.6,0.627,50,1
1                         1,85,66,29,0,26.6,0.351,31,0
2                         8,183,64,0,0,23.3,0.672,32,1
3                        1,89,66,23,94,28.1,0.167,21,0
4                      0,137,40,35,168,43.1,2.288,33,1
..                                                 ...
763                   10,101,76,48,180,32.9,0.171,63,0
764                       2,122,70,27,0,36.8,0.34,27,0
765                    5,121,72,23,112,26.2,0.245,30,0
766                       1,126,60,0,0,30.1,0.349,47,1
767                       1,93,70,31,0,30.4,0.315,23,0

[768 rows x 1 columns]

Select first three rows

In [47]:
df[1:4]

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0

[3 rows x 9 columns]

In [49]:
df.loc[0:2,["Glucose", "Insulin", "BMI"]]

   Glucose  Insulin   BMI
0      148        0  33.6
1       85        0  26.6
2      183        0  23.3

In [50]:
df.iloc[0:5, -2:]

   Age  Outcome
0   50        1
1   31        0
2   32        1
3   21        0
4   33        1

loc gets row (and/or columns) with particular labels

iloc gets rows(and/or columns) with particular column numbers

In [51]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [52]:
df.shape

(768, 9)

In [53]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [56]:
df.isna().sum() #Gives no of null entries.

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Percentage of NULL values:

In [57]:
df.isnull().mean()*100

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

Drop Duplicates

In [58]:
df.drop_duplicates(inplace=True) #Remove duplicates and stores in the same df.

In [59]:
df.shape

(768, 9)

Drop all NULL or NAN  values

In [60]:
temp=df.copy()

In [61]:
temp.isna().sum().sum()

0

In [62]:
temp.fillna(4, inplace=True)

In [63]:
temp.drop(columns=("BMI"))

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 8 columns]

In [66]:
df.groupby('Insulin').SkinThickness.mean()

Insulin
0      11.508021
14     63.000000
15     13.000000
16     26.000000
18     30.500000
         ...
579    49.000000
600    24.000000
680    33.000000
744    39.000000
846    23.000000
Name: SkinThickness, Length: 186, dtype: float64

In [71]:
dic={"Name":["Tom", "Nick", "Anne", "Jack"], "Age":[20,30,40,50],"Gender":["M","M","F","M"]}
df=pd.DataFrame(dic)
df

   Name  Age Gender
0   Tom   20      M
1  Nick   30      M
2  Anne   40      F
3  Jack   50      M

In [70]:
df.reset_index(drop=True)

   Name  Age Gender
0   Tom   20      M
1  Nick   30      M
2  Anne   40      F
3  Jack   50      M